page-login {
  .loginR{
    display: flex;
    margin: 0 2em;
  }
  .bunttonRegister{
    width: 30%;
    font-size: 14px;
    padding-left: 1em;

  }
  div p {
    margin: 0 .5em;
    padding-top: 13px;
  }
  .formLogin{
    padding: 25% 0 0;
  } 
  .loginBackground {
    background-image: url(../../assets/img/Marron.png);
    background-repeat: no-repeat;
    background-size: cover; 
  }
}
