home .header-md::after{
  width: 0;
}

.frontPageHeader{
  .toolbar-background{
    background: rgb(182, 57, 57);
    border-style: none;
  }
  .toolbar-ios{
    padding: 27px 4px;
  }
}

.frontPageTitle .toolbar-title{
  margin: 20px;
  color: map-get($colors,primary);
  text-align: center;
  font-size: xx-large;
  padding-top: 0.75em;
  font-variant: small-caps;
  font-family: cursive;
  font-weight: bold;
  @media (orientation: portrait) and (max-width: 350px){
    font-size: x-large;
  }
}
.myFrontImage{
  margin-top: 70px;
  width: 100%;
  height: 70%;
}

.buttons{
  padding: 0.25em 16px;
  margin-bottom: 15px;
  
  button
  {
    border-radius: 100px;
    font-family: 'Trebuchet MS';
    background-image:url(../../assets/img/fondoMarron.jpg);
    background-size: cover; 
  }
}
  .homeBackground {
    background-image: url(../../assets/img/Inicio.png);
    background-repeat: no-repeat;
    background-size: cover; 
  } 
  .icon {
    font-size: 50px;
    color: rgb(29, 86, 43);
    }